.main_research {
    position: relative;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 40%;
        height: 90%;
        background: #f7f9fb;
        border-radius: 0 0 240px 0;
        z-index: -1;

    }

    .research_wrap {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(0, -50%);
        margin: 0 0 0 -710px;
        display: grid;
        grid-template-columns: 1fr 3.5fr;
        width: 100%;


        .title {
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            padding: 24px 0;

            h2 {
                font-size: 40px;
                line-height: 48px;
                margin: 0 0 16px 0;

                span {
                    display: block;
                    font-weight: 800;
                    color: $color-main;
                }
            }

            p {
                line-height: 26px;
                // font-size: 18px;
            }

            .arrows {
                margin: auto 0;
                display: flex;
                gap: 25px;
                align-items: center;

                .left {
                    &::after {
                        content: "";
                        display: inline-block;
                        position: relative;
                        left: 12px;
                        width: 1px;
                        height: 16px;
                        background: #ddd;
                    }
                }

                span {
                    cursor: pointer;
                    font-size: 22px;
                    font-weight: 700;
                    color: #ddd;

                    &:hover {
                        color: $color-main;
                        transition: .3s;
                    }
                }
            }

            .btn {

                a {
                    display: inline-block;
                    padding: 20px 32px;
                    font-size: 14px;
                    font-weight: 500;
                    background: $color-main;
                    color: $color-w;

                    i {
                        padding-left: 16px;
                    }

                }
            }

        }

        .content {
            overflow: hidden;

            .research_slide {
                margin: 0 -24px;

                figure {
                    margin: 0 24px;

                    .img_box {
                        margin: 0 0 24px 0;
                        border: 1px solid #e5e5e5;
                    }

                    .txt_box {

                        h3 {
                            font-size: 20px;
                            font-weight: 600;
                            padding: 0 0 16px 0;
                            margin: 0 0 16px 0;
                            border-bottom: 1px solid #e5e5e5;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                        }

                        .date {
                            display: flex;
                            justify-content: space-between;
                            font-size: 15px;
                            font-weight: 600;
                            color: $color-ld;
                            align-items: center;
                            padding: 1px;

                            span {
                                &::before {
                                    content: "\F293";
                                    font-family: bootstrap-icons;
                                    margin: 0 8px 0 0;
                                    vertical-align: middle;
                                }
                            }

                            a {

                                i {
                                    @include btn();
                                    transition: 0.5s;
                                }

                            }
                        }
                    }

                    &:hover {
                        .txt_box {
                            h3 {
                                border-bottom: 1px solid $color-main;
                                transition: 0.5s;
                            }

                            .date {
                                a {
                                    i {
                                        transform: rotate(180deg);
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

    }

    @include res() {
        .research_wrap {

            transform: translate(-50%, -50%);
            margin: 0 0 0 0;
            padding: 0 20px;
            grid-template-columns: 1fr;

            .title {
                align-items: center;
                text-align: center;

                h2 {
                    font-size: 24px;
                    line-height: 28px;
                    margin: 0 0 8px 0;

                    span {
                        display: inline;
                    }
                }

                p {
                    font-size: 14px;
                    line-height: 18px;
                }

                .arrows {
                    margin: 24px 0 0 0;
                }

                .btn {
                    position: absolute;
                    bottom: -120px;
                }
            }

            .content {
                .research_slide {
                    margin: 0 0;

                    figure {
                        margin: 0 0;

                        .txt_box {
                            h3 {
                                font-size: 16px;
                            }

                            .date {
                                font-size: 14px;
                            }
                        }
                    }
                }
            }
        }
    }
}