.main_community {
    background: url(../images/bg_main_community.jpg)no-repeat center bottom/contain;
    position: relative;

    .inner {
        display: flex;
        align-items: end;


        .left {
            flex: 0 0 30%;
            display: flex;
            flex-direction: column;
            height: 70%;
            padding: 24px 0;

            h2 {
                font-size: 40px;
                line-height: 48px;
                margin: 0 0 16px 0;
                color: $color-w;

                span {
                    display: block;
                    font-weight: 800;
                }
            }

            p {
                display: block;
                font-size: 18px;
                color: rgba($color: $color-w, $alpha: 0.6);
                line-height: 24px;
                margin: 0 0 86px 0;
            }


            .btn {
                a {
                    display: inline-block;
                    padding: 20px 32px;
                    font-size: 14px;
                    font-weight: 500;
                    background: $color-w;
                    color: $color-main;

                    i {
                        padding-left: 16px;
                    }

                }
            }

        }

        .right {
            flex: 0 0 70%;
            display: flex;
            justify-content: right;
            align-items: baseline;

            .co_name {
                z-index: 998;
                color: rgba($color: $color-w, $alpha: 0.6);
                margin: auto -100px 100px 0;
                width: 30%;

                li:not(:last-child) {
                    margin: 0 0 8px 0;
                }

                li {
                    position: relative;
                    background: #002d5e;
                    font-weight: 600;

                    a {
                        display: inline-block;
                        padding: 24px;
                        width: 100%;

                        span {
                            display: inline-block;
                            padding: 0 10px 0 0;
                            font-weight: 700;
                        }
                    }

                    &::before {
                        content: "";
                        position: absolute;
                        left: 0;
                        top: 0;
                        height: 100%;
                        width: 0;
                        background: $color-sub;
                    }

                    &.on {
                        background: $color-w;
                        color: $color-main;

                        &::before {
                            width: 3px;
                        }
                    }
                }
            }

            .content {
                position: relative;
                max-width: 580px;
                min-width: 338px;
                width: 100%;

                .com_slide {
                    .slick-slide:not(.slick-active) {
                        transition-delay: 500ms !important;
                    }
                }

            }
        }


    }

    @include res() {
        background: url(../images/bg_main_community.jpg)no-repeat center center/cover;
        padding: 80px 0;

        .inner {
            position: relative;
            flex-direction: column;
            align-items: center;
            padding: 0 20px 94px 20px;

            .left {
                padding: 0 0;
                height: 100%;
                margin: 0 0 16px 0;

                h2 {
                    font-size: 28px;
                    line-height: 36px;
                }

                p {
                    font-size: 16px;
                    line-height: 20px;
                    margin: 0 0 32px 0;
                }

                a {
                    position: absolute;
                    bottom: 0;
                    left: 50%;
                    transform: translate(-50%, 0);

                }
            }

            .right {

                width: 100%;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                .co_name {
                    width: 100%;
                    margin: 0 0 16px 0;

                    li:not(:last-child) {
                        margin: 0 0 4px 0;
                    }
                }


            }
        }
    }
}