.main_visual {
    position: relative;
    background: url(../images/bg_main_visual.jpg);

    .inner {
        position: absolute;
        left: 50%;
        bottom: 100px;
        transform: translate(-50%, 0);
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 240px;
        z-index: 998;


        h2 {
            font-size: 64px;
            font-weight: 900;
            line-height: 80px;
            color: $color-w;
        }

        .slide_area {
            display: flex;
            justify-content: space-between;

            .article_area {
                flex: 0 0 40%;
                overflow: hidden;

                .article_slide {
                    width: 55%;

                    .box {
                        h3 {
                            color: $color-w;
                            font-size: 24px;
                            font-weight: 700;
                            line-height: 32px;
                            padding: 0 0 20px 0;
                            border-bottom: 1px solid $color-line;
                            margin: 0 0 20px 0;
                        }

                        ul {
                            li {
                                color: rgba($color-w, 0.8);
                                line-height: 24px;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                white-space: nowrap;
                            }
                        }
                    }
                }
            }

            .notice_area {
                flex: 0 0 50%;
                overflow: hidden;
                margin: 0 0 50px 0;

                .title {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    color: $color-w;
                    margin: 0 0 32px 0;

                    strong {
                        font-size: 20px;
                        font-weight: 700;
                        text-transform: uppercase;
                    }

                    a {
                        i {
                            @include btn();
                            transition: 0.5s;
                        }

                        &:hover {
                            i {
                                transform: rotate(180deg);
                            }
                        }
                    }

                }

                .notice_itm {
                    background: $color-w;
                    display: flex;
                    justify-content: space-between;
                    text-align: center;
                    align-items: center;
                    padding: 10px;


                    .notice_slide {
                        width: 80%;
                        overflow: hidden;

                        .itm {
                            display: flex;
                            align-items: center;
                            gap: 24px;

                            p {
                                display: flex;
                                flex-direction: column;
                                justify-content: center;
                                gap: 8px;
                                width: 80px;
                                height: 80px;
                                background: url(../images/bg_main_notice_date.png)no-repeat center center/contain;
                                flex-shrink: 0;
                                color: $color-w;
                                font-size: 14px;

                                .day {
                                    font-size: 32px;
                                    font-weight: 900;
                                }
                            }

                            strong {
                                overflow: hidden;
                                text-overflow: ellipsis;
                                white-space: nowrap;

                                font-size: 18px;
                                font-weight: 500;
                            }
                        }
                    }

                    .control_box {

                        .arrows {
                            position: relative;
                            display: flex;
                            flex-direction: column;
                            gap: 10px;

                            &::after {
                                content: "";
                                position: absolute;
                                top: 50%;
                                left: 50%;
                                transform: translate(-50%, -50%);
                                width: 30%;
                                height: 1px;
                                background: #ddd;
                            }


                            i {
                                font-size: 14px;
                                padding: 8px;
                                cursor: pointer;
                            }

                        }
                    }

                }
            }
        }


    }

    .main_slide {
        position: absolute;
        bottom: 0;
        right: 0;
        max-width: 1210px;
        width: 100%;
        height: calc(100% - 120px);
        overflow: hidden;

        .slick-slide:not(.slick-active) {
            transition-delay: 500ms !important;
        }
    }

    .slide_dots {
        position: absolute;
        left: 50%;
        top: 53%;
        margin: 0 0 0 -710px;
        display: flex;
        gap: 8px;
        cursor: pointer;
        z-index: 998;

        li {
            width: 40px;
            height: 3px;
            background: #fff;
            font-size: 0;

            &.on {
                background: $color-sub;
            }
        }
    }

    @include res() {
        .inner {

            bottom: 0;
            gap: 32px;

            h2 {
                font-size: 32px;
                line-height: 48px;
            }

            .slide_area {
                flex-direction: column;
                gap: 240px;

                .article_area {

                    .article_slide {
                        width: 100%;

                        .box {
                            h3 {
                                font-size: 18px;
                                line-height: 20px;
                                padding: 0 0 10px 0;
                                margin: 0 0 10px 0;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                white-space: nowrap;
                            }

                            ul {
                                font-size: 14px;
                                line-height: 16px;
                            }

                        }
                    }
                }

                .notice_area {
                    border-radius: 8px;

                    .title {
                        display: none;
                    }

                    .notice_itm {
                        .notice_slide {
                            .itm {
                                strong {
                                    font-size: 16px;
                                }
                            }

                        }
                    }
                }
            }


        }

        .main_slide {
            position: absolute;
            bottom: 0;
            right: 0;
            max-width: 1210px;
            width: 100%;
            height: auto;
            overflow: hidden;
        }

        .slide_dots {
            position: absolute;
            left: 0;
            top: 520px;
            margin: 0 0 0 20px;
            display: flex;
            gap: 16px;
            cursor: pointer;
            z-index: 998;

            li {
                position: relative;
                width: 20px;
                height: 20px;
                border-radius: 50%;
                background: transparent;
                border: 1px solid transparent;
                font-size: 0;

                &::before {
                    content: "";
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: 4px;
                    height: 4px;
                    background: $color-w;
                    border-radius: 50%;
                }

                &.on {
                    background: transparent;
                    border: 1px solid rgba($color: $color-w, $alpha: 0.5);
                }
            }
        }
    }
}