@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.8/dist/web/static/pretendard.css");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: border-box;
}

ul,
ol,
li {
  list-style: none;
}

body {
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  letter-spacing: -0.025em;
  line-height: 1;
  word-break: keep-all;
  color: #444;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

address,
em {
  font-style: normal;
}

strong,
b {
  font-weight: normal;
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

button,
input,
textarea {
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  vertical-align: middle;
}

.inner {
  width: 100%;
  max-width: 1460px;
  padding: 0 20px;
  margin: 0 auto;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}
.header .header_wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 120px;
  max-width: 1840px;
  padding: 0 20px;
  margin: 0 auto;
  transition: height 0.5s;
}
.header .header_wrap h1 {
  flex: 0 0 205px;
}
.header .header_wrap h1 .logo_on {
  display: none;
}
.header .header_wrap .gnb > ul {
  display: flex;
}
.header .header_wrap .gnb > ul > li {
  position: relative;
}
.header .header_wrap .gnb > ul > li > a {
  position: relative;
  display: block;
  text-align: center;
  width: 180px;
  line-height: 120px;
  font-size: 18px;
  font-weight: 600;
  color: #ffffff;
}
.header .header_wrap .gnb > ul > li > a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 2px;
  background: #ffc240;
}
.header .header_wrap .gnb > ul > li > a::after {
  content: "";
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translate(-50%, 0);
  width: 0;
  height: 1px;
  background: #3685c2;
}
.header .header_wrap .gnb > ul > li .sub {
  position: absolute;
  top: 90px;
  width: 100%;
  display: none;
  text-align: center;
  padding: 10px 0 25px 0;
  background: #0467b3;
}
.header .header_wrap .gnb > ul > li .sub li a {
  display: block;
  color: rgba(255, 255, 255, 0.7);
  padding: 10px 0;
  font-weight: 500;
  font-size: 15px;
}
.header .header_wrap .gnb > ul > li .sub li a:hover {
  color: #ffffff;
}
.header .header_wrap .gnb > ul > li:hover a {
  background: #0467b3;
}
.header .header_wrap .gnb > ul > li:hover a::before {
  width: 100%;
}
.header .header_wrap .gnb > ul > li:hover a::after {
  width: 70%;
  transition: width 0.3s;
}
.header .header_wrap .gnb > ul > li:hover .sub {
  display: block;
}
.header .header_wrap .customer {
  display: flex;
  align-items: center;
  gap: 40px;
}
.header .header_wrap .customer .global {
  position: relative;
  padding: 10px 10px;
  border-radius: 20px;
  background: #f0f3f7;
}
.header .header_wrap .customer .global > a {
  font-size: 15px;
  font-weight: 500;
}
.header .header_wrap .customer .global > a i {
  padding: 0 10px;
}
.header .header_wrap .customer .global ul {
  position: absolute;
  display: none;
  top: 100%;
  left: 0;
  width: 100%;
  border-radius: 0 0 20px 20px;
  background: #0467b3;
  padding: 0 0 10px 0;
}
.header .header_wrap .customer .global ul li {
  padding: 10px 0;
  text-align: center;
  font-size: 13px;
  font-weight: 500;
  color: #ffffff;
}
.header .header_wrap .customer .global.on {
  border-radius: 20px 20px 0 0;
  background: #0467b3;
}
.header .header_wrap .customer .global.on > a {
  color: #ffffff;
}
.header .header_wrap .customer .global.on > a .bi-chevron-down {
  display: inline-block;
  transform: rotate(180deg);
  transition: 0.5s;
}
.header .header_wrap .customer .global.on ul {
  display: block;
  border-top: 1px solid #3685c2;
}
.header .header_wrap .customer .global.on ul li:hover {
  color: #ffc240;
}
.header .header_wrap .customer .menu_ico {
  font-size: 20px;
  cursor: pointer;
}
.header.on {
  background-color: #fff;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}
.header.on .header_wrap {
  height: 100px;
}
.header.on .header_wrap h1 .logo_w {
  display: none;
}
.header.on .header_wrap h1 .logo_on {
  display: block;
}
.header.on .header_wrap .gnb > ul > li > a {
  line-height: 100px;
  color: #444444;
}
.header.on .header_wrap .gnb > ul > li > a::after {
  bottom: 20px;
}
.header.on .header_wrap .gnb > ul > li .sub {
  top: 80px;
}
.header.on .header_wrap .gnb > ul > li:hover > a {
  color: #ffffff;
}
@media (max-width: 768px) {
  .header .header_wrap {
    height: 100px;
    flex-direction: column;
    justify-content: center;
    align-items: start;
  }
  .header .header_wrap h1 {
    flex: 0 0 0;
    width: 205px;
  }
  .header .header_wrap .gnb {
    position: fixed;
    padding: 100px 20px 0 20px;
    top: 0;
    left: -100%;
    width: calc(100% - 64px);
    height: 100vh;
    background: #fff;
    border-right: 1px solid #ddd;
  }
  .header .header_wrap .gnb > ul {
    flex-direction: column;
  }
  .header .header_wrap .gnb > ul > li {
    border-bottom: 1px solid #f0f3f7;
  }
  .header .header_wrap .gnb > ul > li > a {
    line-height: 18px;
    font-size: 18px;
    padding: 24px 0;
    color: #444444;
    text-align: left;
  }
  .header .header_wrap .gnb > ul > li > a::before {
    display: none;
  }
  .header .header_wrap .gnb > ul > li > a::after {
    display: none;
  }
  .header .header_wrap .gnb > ul > li > a.on {
    color: #ffc240;
  }
  .header .header_wrap .gnb > ul > li .sub {
    position: static;
    display: none;
    padding: 10px 0 10px 20px;
    text-align: left;
    background: #f0f3f7;
  }
  .header .header_wrap .gnb > ul > li .sub li a {
    color: #666666;
  }
  .header .header_wrap .gnb > ul > li:hover a {
    background: transparent;
  }
  .header .header_wrap .gnb > ul > li:hover .sub {
    display: none;
  }
  .header .header_wrap .gnb.on {
    left: 0;
    transition: 0.3s;
  }
  .header .header_wrap .customer .global {
    display: none;
  }
  .header .header_wrap .customer .menu_ico {
    position: fixed;
    top: 38px;
    right: 20px;
    color: #ffffff;
    z-index: 1000;
  }
  .header.on .header_wrap .gnb > ul > li > a {
    line-height: 18px;
  }
  .header.on .header_wrap .gnb > ul > li:hover > a {
    color: #444444;
  }
  .header.on .header_wrap .customer .menu_ico {
    color: #444444;
  }
}

#fp-nav ul li a span {
  background: #ffffff;
  box-shadow: 0 0 3px #000;
}
#fp-nav ul li .active span {
  background: #ffc240;
  box-shadow: 0 0 0 #000;
}

.main_visual {
  position: relative;
  background: url(../images/bg_main_visual.jpg);
}
.main_visual .inner {
  position: absolute;
  left: 50%;
  bottom: 100px;
  transform: translate(-50%, 0);
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 240px;
  z-index: 998;
}
.main_visual .inner h2 {
  font-size: 64px;
  font-weight: 900;
  line-height: 80px;
  color: #ffffff;
}
.main_visual .inner .slide_area {
  display: flex;
  justify-content: space-between;
}
.main_visual .inner .slide_area .article_area {
  flex: 0 0 40%;
  overflow: hidden;
}
.main_visual .inner .slide_area .article_area .article_slide {
  width: 55%;
}
.main_visual .inner .slide_area .article_area .article_slide .box h3 {
  color: #ffffff;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  padding: 0 0 20px 0;
  border-bottom: 1px solid #3685c2;
  margin: 0 0 20px 0;
}
.main_visual .inner .slide_area .article_area .article_slide .box ul li {
  color: rgba(255, 255, 255, 0.8);
  line-height: 24px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.main_visual .inner .slide_area .notice_area {
  flex: 0 0 50%;
  overflow: hidden;
  margin: 0 0 50px 0;
}
.main_visual .inner .slide_area .notice_area .title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
  margin: 0 0 32px 0;
}
.main_visual .inner .slide_area .notice_area .title strong {
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
}
.main_visual .inner .slide_area .notice_area .title a i {
  display: inline-block;
  padding: 6px 6px 5px 6px;
  background: #003876;
  border-radius: 50%;
  margin: 0 0 0 8px;
  color: #ffffff;
  transition: 0.5s;
}
.main_visual .inner .slide_area .notice_area .title a:hover i {
  transform: rotate(180deg);
}
.main_visual .inner .slide_area .notice_area .notice_itm {
  background: #ffffff;
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  padding: 10px;
}
.main_visual .inner .slide_area .notice_area .notice_itm .notice_slide {
  width: 80%;
  overflow: hidden;
}
.main_visual .inner .slide_area .notice_area .notice_itm .notice_slide .itm {
  display: flex;
  align-items: center;
  gap: 24px;
}
.main_visual .inner .slide_area .notice_area .notice_itm .notice_slide .itm p {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
  width: 80px;
  height: 80px;
  background: url(../images/bg_main_notice_date.png) no-repeat center center/contain;
  flex-shrink: 0;
  color: #ffffff;
  font-size: 14px;
}
.main_visual .inner .slide_area .notice_area .notice_itm .notice_slide .itm p .day {
  font-size: 32px;
  font-weight: 900;
}
.main_visual .inner .slide_area .notice_area .notice_itm .notice_slide .itm strong {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 18px;
  font-weight: 500;
}
.main_visual .inner .slide_area .notice_area .notice_itm .control_box .arrows {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.main_visual .inner .slide_area .notice_area .notice_itm .control_box .arrows::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30%;
  height: 1px;
  background: #ddd;
}
.main_visual .inner .slide_area .notice_area .notice_itm .control_box .arrows i {
  font-size: 14px;
  padding: 8px;
  cursor: pointer;
}
.main_visual .main_slide {
  position: absolute;
  bottom: 0;
  right: 0;
  max-width: 1210px;
  width: 100%;
  height: calc(100% - 120px);
  overflow: hidden;
}
.main_visual .main_slide .slick-slide:not(.slick-active) {
  transition-delay: 500ms !important;
}
.main_visual .slide_dots {
  position: absolute;
  left: 50%;
  top: 53%;
  margin: 0 0 0 -710px;
  display: flex;
  gap: 8px;
  cursor: pointer;
  z-index: 998;
}
.main_visual .slide_dots li {
  width: 40px;
  height: 3px;
  background: #fff;
  font-size: 0;
}
.main_visual .slide_dots li.on {
  background: #ffc240;
}
@media (max-width: 768px) {
  .main_visual .inner {
    bottom: 0;
    gap: 32px;
  }
  .main_visual .inner h2 {
    font-size: 32px;
    line-height: 48px;
  }
  .main_visual .inner .slide_area {
    flex-direction: column;
    gap: 240px;
  }
  .main_visual .inner .slide_area .article_area .article_slide {
    width: 100%;
  }
  .main_visual .inner .slide_area .article_area .article_slide .box h3 {
    font-size: 18px;
    line-height: 20px;
    padding: 0 0 10px 0;
    margin: 0 0 10px 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .main_visual .inner .slide_area .article_area .article_slide .box ul {
    font-size: 14px;
    line-height: 16px;
  }
  .main_visual .inner .slide_area .notice_area {
    border-radius: 8px;
  }
  .main_visual .inner .slide_area .notice_area .title {
    display: none;
  }
  .main_visual .inner .slide_area .notice_area .notice_itm .notice_slide .itm strong {
    font-size: 16px;
  }
  .main_visual .main_slide {
    position: absolute;
    bottom: 0;
    right: 0;
    max-width: 1210px;
    width: 100%;
    height: auto;
    overflow: hidden;
  }
  .main_visual .slide_dots {
    position: absolute;
    left: 0;
    top: 520px;
    margin: 0 0 0 20px;
    display: flex;
    gap: 16px;
    cursor: pointer;
    z-index: 998;
  }
  .main_visual .slide_dots li {
    position: relative;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: transparent;
    border: 1px solid transparent;
    font-size: 0;
  }
  .main_visual .slide_dots li::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 4px;
    height: 4px;
    background: #ffffff;
    border-radius: 50%;
  }
  .main_visual .slide_dots li.on {
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 0.5);
  }
}

.main_research {
  position: relative;
}
.main_research::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 40%;
  height: 90%;
  background: #f7f9fb;
  border-radius: 0 0 240px 0;
  z-index: -1;
}
.main_research .research_wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(0, -50%);
  margin: 0 0 0 -710px;
  display: grid;
  grid-template-columns: 1fr 3.5fr;
  width: 100%;
}
.main_research .research_wrap .title {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  padding: 24px 0;
}
.main_research .research_wrap .title h2 {
  font-size: 40px;
  line-height: 48px;
  margin: 0 0 16px 0;
}
.main_research .research_wrap .title h2 span {
  display: block;
  font-weight: 800;
  color: #003876;
}
.main_research .research_wrap .title p {
  line-height: 26px;
}
.main_research .research_wrap .title .arrows {
  margin: auto 0;
  display: flex;
  gap: 25px;
  align-items: center;
}
.main_research .research_wrap .title .arrows .left::after {
  content: "";
  display: inline-block;
  position: relative;
  left: 12px;
  width: 1px;
  height: 16px;
  background: #ddd;
}
.main_research .research_wrap .title .arrows span {
  cursor: pointer;
  font-size: 22px;
  font-weight: 700;
  color: #ddd;
}
.main_research .research_wrap .title .arrows span:hover {
  color: #003876;
  transition: 0.3s;
}
.main_research .research_wrap .title .btn a {
  display: inline-block;
  padding: 20px 32px;
  font-size: 14px;
  font-weight: 500;
  background: #003876;
  color: #ffffff;
}
.main_research .research_wrap .title .btn a i {
  padding-left: 16px;
}
.main_research .research_wrap .content {
  overflow: hidden;
}
.main_research .research_wrap .content .research_slide {
  margin: 0 -24px;
}
.main_research .research_wrap .content .research_slide figure {
  margin: 0 24px;
}
.main_research .research_wrap .content .research_slide figure .img_box {
  margin: 0 0 24px 0;
  border: 1px solid #e5e5e5;
}
.main_research .research_wrap .content .research_slide figure .txt_box h3 {
  font-size: 20px;
  font-weight: 600;
  padding: 0 0 16px 0;
  margin: 0 0 16px 0;
  border-bottom: 1px solid #e5e5e5;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.main_research .research_wrap .content .research_slide figure .txt_box .date {
  display: flex;
  justify-content: space-between;
  font-size: 15px;
  font-weight: 600;
  color: #666666;
  align-items: center;
  padding: 1px;
}
.main_research .research_wrap .content .research_slide figure .txt_box .date span::before {
  content: "\f293";
  font-family: bootstrap-icons;
  margin: 0 8px 0 0;
  vertical-align: middle;
}
.main_research .research_wrap .content .research_slide figure .txt_box .date a i {
  display: inline-block;
  padding: 6px 6px 5px 6px;
  background: #003876;
  border-radius: 50%;
  margin: 0 0 0 8px;
  color: #ffffff;
  transition: 0.5s;
}
.main_research .research_wrap .content .research_slide figure:hover .txt_box h3 {
  border-bottom: 1px solid #003876;
  transition: 0.5s;
}
.main_research .research_wrap .content .research_slide figure:hover .txt_box .date a i {
  transform: rotate(180deg);
}
@media (max-width: 768px) {
  .main_research .research_wrap {
    transform: translate(-50%, -50%);
    margin: 0 0 0 0;
    padding: 0 20px;
    grid-template-columns: 1fr;
  }
  .main_research .research_wrap .title {
    align-items: center;
    text-align: center;
  }
  .main_research .research_wrap .title h2 {
    font-size: 24px;
    line-height: 28px;
    margin: 0 0 8px 0;
  }
  .main_research .research_wrap .title h2 span {
    display: inline;
  }
  .main_research .research_wrap .title p {
    font-size: 14px;
    line-height: 18px;
  }
  .main_research .research_wrap .title .arrows {
    margin: 24px 0 0 0;
  }
  .main_research .research_wrap .title .btn {
    position: absolute;
    bottom: -120px;
  }
  .main_research .research_wrap .content .research_slide {
    margin: 0 0;
  }
  .main_research .research_wrap .content .research_slide figure {
    margin: 0 0;
  }
  .main_research .research_wrap .content .research_slide figure .txt_box h3 {
    font-size: 16px;
  }
  .main_research .research_wrap .content .research_slide figure .txt_box .date {
    font-size: 14px;
  }
}

.main_about {
  background: url(../images/bg_main_about.jpg) center center/cover;
}
.main_about .inner {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.main_about .inner .title {
  color: #ffffff;
  padding: 0 200px 0 0;
}
.main_about .inner .title strong {
  display: block;
  font-size: 20px;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.3);
  margin: 0 0 16px 0;
}
.main_about .inner .title h2 {
  font-size: 48px;
  line-height: 64px;
  font-weight: 900;
  margin: 0 0 24px 0;
  padding: 24px 0;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-width: 1px 0 1px 0;
}
.main_about .inner .title h2 span {
  display: block;
}
.main_about .inner .title p {
  font-size: 20px;
  line-height: 28px;
  color: rgba(255, 255, 255, 0.7);
}
.main_about .inner .about_con {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
  padding: 0 0 0 30px;
}
.main_about .inner .about_con > li {
  position: relative;
  background: rgba(255, 255, 255, 0.1);
  padding: 24px 32px 24px 24px;
  font-size: 20px;
  line-height: 26px;
  font-weight: 500;
  color: #ffffff;
  cursor: pointer;
}
.main_about .inner .about_con > li a::after {
  content: "\f4fe";
  font-family: bootstrap-icons;
  position: absolute;
  bottom: 24px;
  right: 24px;
  padding: 0 4px;
  background: rgba(255, 255, 255, 0.5);
  color: #003876;
  border-radius: 50%;
  font-size: 18px;
  vertical-align: middle;
}
.main_about .inner .about_con > li::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 0;
  width: 100%;
  background: #ffc240;
}
.main_about .inner .about_con > li::after {
  content: "";
  position: absolute;
  inset: 0 0 0 0;
  background: url(../images/bg_watermark.png) no-repeat left bottom/contain;
  opacity: 0;
}
.main_about .inner .about_con > li:hover {
  background: #ffffff;
  color: #003876;
  transition: 0.4s;
}
.main_about .inner .about_con > li:hover a::after {
  background: #003876;
  color: #ffffff;
}
.main_about .inner .about_con > li:hover::before {
  height: 2px;
}
.main_about .inner .about_con > li:hover::after {
  opacity: 100%;
}
@media (max-width: 768px) {
  .main_about {
    padding: 80px 0;
  }
  .main_about .inner {
    grid-template-columns: 1fr;
    gap: 40px;
  }
  .main_about .inner .title {
    padding: 0 0 0 0;
    text-align: center;
  }
  .main_about .inner .title strong {
    font-size: 16px;
    margin: 0 0 16px 0;
  }
  .main_about .inner .title h2 {
    font-size: 32px;
    line-height: 40px;
    padding: 24px 0;
    margin: 0 0 24px 0;
  }
  .main_about .inner .title p {
    font-size: 16px;
    line-height: 20px;
  }
  .main_about .inner .about_con {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    padding: 0 0 0 0;
  }
  .main_about .inner .about_con > li {
    font-size: 16px;
    line-height: 20px;
    padding: 24px 32px 48px 24px;
  }
  .main_about .inner .about_con > li a::after {
    padding: 0 1px;
  }
}

.main_content .tit {
  display: flex;
  justify-content: space-between;
  padding: 0 0 32px 0;
  border-bottom: 3px solid #444444;
}
.main_content .tit h2 {
  font-size: 32px;
}
.main_content .tit h2 span {
  color: #003876;
  font-weight: 800;
}
.main_content .tit a i {
  font-size: 32px;
  padding: 5px 8px;
  color: #003876;
  border-radius: 50%;
  border: 3px solid #f0f3f7;
}
.main_content .news_con .m_news a {
  padding: 24px;
  border-bottom: 1px solid #ddd;
  display: flex;
  align-items: center;
}
.main_content .news_con .m_news a strong {
  width: 100px;
  height: 100px;
  background: url(../images/bg_date.png) no-repeat center center/contain;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-weight: 700;
  margin: 0 32px 0 0;
}
.main_content .news_con .m_news a strong .day {
  font-size: 32px;
}
.main_content .news_con .m_news a h3 span {
  display: block;
  font-size: 24px;
  font-weight: 600;
  margin: 0 0 16px 0;
}
.main_content .news_con .m_news a figure {
  margin-left: auto;
  height: 118px;
  width: 214px;
  overflow: hidden;
}
.main_content .news_con .m_news a figure img {
  width: auto;
  height: auto;
  vertical-align: middle;
}
.main_content .news_con .m_news a:hover h3 {
  text-decoration: underline;
}
.main_content .news_con .news li a {
  padding: 32px 24px;
  border-bottom: 1px solid #ddd;
  display: flex;
  justify-content: space-between;
}
.main_content .news_con .news li a strong {
  font-size: 17px;
  font-weight: 500;
}
.main_content .news_con .news li a strong::before {
  content: "";
  display: inline-block;
  width: 4px;
  height: 4px;
  background: #666666;
  margin: 0 16px 0 0;
  vertical-align: middle;
}
.main_content .news_con .news li a span {
  color: #999;
}
.main_content .news_con .news li a span::before {
  content: "\f293";
  font-family: bootstrap-icons;
  margin: 0 8px 0 0;
  vertical-align: middle;
}
.main_content .news_con .news li a:hover {
  color: #3685c2;
  background: rgba(54, 133, 194, 0.1);
  transition: 0.4s;
}
@media (max-width: 768px) {
  .main_content {
    padding: 80px 0 0 0;
  }
  .main_content .tit {
    align-items: center;
  }
  .main_content .tit h2 {
    font-size: 24px;
  }
  .main_content .tit a i {
    font-size: 16px;
  }
  .main_content .news_con .m_news a {
    padding: 10px;
  }
  .main_content .news_con .m_news a strong {
    font-size: 12px;
    margin: 0 16px 0 0;
  }
  .main_content .news_con .m_news a strong .day {
    font-size: 18px;
  }
  .main_content .news_con .m_news a h3 {
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .main_content .news_con .m_news a h3 span {
    font-size: 18px;
    margin: 0 0 8px 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .main_content .news_con .m_news a figure {
    display: none;
  }
  .main_content .news_con .news li a {
    padding: 24px 10px;
    flex-direction: column;
  }
  .main_content .news_con .news li a strong {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 16px;
    font-weight: 600;
    margin: 0 0 8px 0;
  }
  .main_content .news_con .news li a strong::before {
    display: none;
  }
  .main_content .news_con .news li a span {
    font-size: 14px;
    color: #999;
  }
}

.main_community {
  background: url(../images/bg_main_community.jpg) no-repeat center bottom/contain;
  position: relative;
}
.main_community .inner {
  display: flex;
  align-items: end;
}
.main_community .inner .left {
  flex: 0 0 30%;
  display: flex;
  flex-direction: column;
  height: 70%;
  padding: 24px 0;
}
.main_community .inner .left h2 {
  font-size: 40px;
  line-height: 48px;
  margin: 0 0 16px 0;
  color: #ffffff;
}
.main_community .inner .left h2 span {
  display: block;
  font-weight: 800;
}
.main_community .inner .left p {
  display: block;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.6);
  line-height: 24px;
  margin: 0 0 86px 0;
}
.main_community .inner .left .btn a {
  display: inline-block;
  padding: 20px 32px;
  font-size: 14px;
  font-weight: 500;
  background: #ffffff;
  color: #003876;
}
.main_community .inner .left .btn a i {
  padding-left: 16px;
}
.main_community .inner .right {
  flex: 0 0 70%;
  display: flex;
  justify-content: right;
  align-items: baseline;
}
.main_community .inner .right .co_name {
  z-index: 998;
  color: rgba(255, 255, 255, 0.6);
  margin: auto -100px 100px 0;
  width: 30%;
}
.main_community .inner .right .co_name li:not(:last-child) {
  margin: 0 0 8px 0;
}
.main_community .inner .right .co_name li {
  position: relative;
  background: #002d5e;
  font-weight: 600;
}
.main_community .inner .right .co_name li a {
  display: inline-block;
  padding: 24px;
  width: 100%;
}
.main_community .inner .right .co_name li a span {
  display: inline-block;
  padding: 0 10px 0 0;
  font-weight: 700;
}
.main_community .inner .right .co_name li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 0;
  background: #ffc240;
}
.main_community .inner .right .co_name li.on {
  background: #ffffff;
  color: #003876;
}
.main_community .inner .right .co_name li.on::before {
  width: 3px;
}
.main_community .inner .right .content {
  position: relative;
  max-width: 580px;
  min-width: 338px;
  width: 100%;
}
.main_community .inner .right .content .com_slide .slick-slide:not(.slick-active) {
  transition-delay: 500ms !important;
}
@media (max-width: 768px) {
  .main_community {
    background: url(../images/bg_main_community.jpg) no-repeat center center/cover;
    padding: 80px 0;
  }
  .main_community .inner {
    position: relative;
    flex-direction: column;
    align-items: center;
    padding: 0 20px 94px 20px;
  }
  .main_community .inner .left {
    padding: 0 0;
    height: 100%;
    margin: 0 0 16px 0;
  }
  .main_community .inner .left h2 {
    font-size: 28px;
    line-height: 36px;
  }
  .main_community .inner .left p {
    font-size: 16px;
    line-height: 20px;
    margin: 0 0 32px 0;
  }
  .main_community .inner .left a {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
  }
  .main_community .inner .right {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .main_community .inner .right .co_name {
    width: 100%;
    margin: 0 0 16px 0;
  }
  .main_community .inner .right .co_name li:not(:last-child) {
    margin: 0 0 4px 0;
  }
}

.footer {
  background: #222;
  padding: 80px 0;
  color: #666666;
  font-size: 15px;
}
.footer .footer_wrap {
  max-width: 1840px;
  padding: 0 20px;
  margin: 0 auto;
}
.footer .footer_wrap .top {
  padding: 0 0 30px 0;
  border-bottom: 1px solid #666666;
}
.footer .footer_wrap .top figure {
  max-width: 205px;
  margin: 0 0 32px 0;
}
.footer .footer_wrap .top .address {
  display: flex;
  flex-direction: column;
}
.footer .footer_wrap .top .address .contact {
  display: flex;
  align-items: center;
  gap: 48px;
}
.footer .footer_wrap .top .address .contact span {
  color: #f0f3f7;
  margin: 0 8px 0 0;
}
.footer .footer_wrap .top .address .contact .familysite {
  display: inline-block;
  padding: 16px 40px;
  background: #444444;
  margin: 0 0 0 auto;
  font-weight: 700;
}
.footer .footer_wrap .bottom {
  padding: 30px 0 0 0;
  display: flex;
}
.footer .footer_wrap .bottom .info {
  color: #f0f3f7;
  margin-left: 16px;
}
.footer .footer_wrap .bottom .info::before {
  content: "";
  display: inline-block;
  width: 1px;
  height: 10px;
  background: #666666;
  margin-right: 14px;
  vertical-align: middle;
}
.footer .footer_wrap .bottom .copy {
  margin: 0 0 0 auto;
}
@media (max-width: 768px) {
  .footer {
    font-size: 14px;
  }
  .footer .footer_wrap .top .address {
    gap: 16px;
  }
  .footer .footer_wrap .top .address .contact {
    flex-direction: column;
    align-items: inherit;
    gap: 16px;
  }
  .footer .footer_wrap .top .address .contact .familysite {
    margin: 16px auto 0 0;
  }
  .footer .footer_wrap .bottom {
    flex-direction: column;
    gap: 6px;
    line-height: 16px;
  }
  .footer .footer_wrap .bottom .info {
    margin-left: 0;
  }
  .footer .footer_wrap .bottom .info::before {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */