@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.8/dist/web/static/pretendard.css");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: border-box;
}

ul,
ol,
li {
  list-style: none;
}

body {
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  letter-spacing: -0.025em;
  line-height: 1;
  word-break: keep-all;
  color: #444;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

address,
em {
  font-style: normal;
}

strong,
b {
  font-weight: normal;
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

button,
input,
textarea {
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  vertical-align: middle;
}

.inner {
  /* width: 100%; */
  max-width: 1460px;
  padding: 0 20px;
  margin: 0 auto;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}
.header .header_wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 120px;
  max-width: 1840px;
  padding: 0 20px;
  margin: 0 auto;
  transition: height 0.5s;
}
.header .header_wrap h1 {
  flex: 0 0 205px;
}
.header .header_wrap h1 .logo_on {
  display: none;
}
.header .header_wrap .gnb > ul {
  display: flex;
}
.header .header_wrap .gnb > ul > li {
  position: relative;
}
.header .header_wrap .gnb > ul > li > a {
  position: relative;
  display: block;
  text-align: center;
  width: 180px;
  line-height: 120px;
  font-size: 18px;
  font-weight: 600;
  color: #ffffff;
}
.header .header_wrap .gnb > ul > li > a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 2px;
  background: #ffc240;
}
.header .header_wrap .gnb > ul > li > a::after {
  content: "";
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translate(-50%, 0);
  width: 0;
  height: 1px;
  background: #3685c2;
}
.header .header_wrap .gnb > ul > li .sub {
  position: absolute;
  top: 90px;
  width: 100%;
  display: none;
  text-align: center;
  padding: 10px 0 25px 0;
  background: #0467b3;
}
.header .header_wrap .gnb > ul > li .sub li a {
  display: block;
  color: #9cafb8;
  padding: 10px 0;
  font-weight: 500;
  font-size: 15px;
}
.header .header_wrap .gnb > ul > li .sub li a:hover {
  color: #ffffff;
}
.header .header_wrap .gnb > ul > li:hover a {
  background: #0467b3;
}
.header .header_wrap .gnb > ul > li:hover a::before {
  width: 100%;
}
.header .header_wrap .gnb > ul > li:hover a::after {
  width: 70%;
  transition: width 0.3s;
}
.header .header_wrap .gnb > ul > li:hover .sub {
  display: block;
}
.header .header_wrap .customer {
  display: flex;
  align-items: center;
  gap: 40px;
}
.header .header_wrap .customer .global {
  position: relative;
  padding: 10px 10px;
  border-radius: 20px;
  background: #f0f3f7;
}
.header .header_wrap .customer .global > a {
  font-size: 15px;
  font-weight: 500;
}
.header .header_wrap .customer .global > a i {
  padding: 0 10px;
}
.header .header_wrap .customer .global ul {
  position: absolute;
  display: none;
  top: 100%;
  left: 0;
  width: 100%;
  border-radius: 0 0 20px 20px;
  background: #0467b3;
  padding: 0 0 10px 0;
}
.header .header_wrap .customer .global ul li {
  padding: 10px 0;
  text-align: center;
  font-size: 13px;
  font-weight: 500;
  color: #ffffff;
}
.header .header_wrap .customer .global.on {
  border-radius: 20px 20px 0 0;
  background: #0467b3;
}
.header .header_wrap .customer .global.on > a {
  color: #ffffff;
}
.header .header_wrap .customer .global.on > a .bi-chevron-down {
  display: inline-block;
  transform: rotate(180deg);
  transition: 0.5s;
}
.header .header_wrap .customer .global.on ul {
  display: block;
  border-top: 1px solid #3685c2;
}
.header .header_wrap .customer .global.on ul li:hover {
  color: #ffc240;
}
.header .header_wrap .customer .menu_ico {
  font-size: 20px;
  cursor: pointer;
}
.header.on {
  background-color: #fff;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}
.header.on .header_wrap {
  height: 100px;
}
.header.on .header_wrap h1 .logo_w {
  display: none;
}
.header.on .header_wrap h1 .logo_on {
  display: block;
}
.header.on .header_wrap .gnb > ul > li > a {
  line-height: 100px;
  color: #444444;
}
.header.on .header_wrap .gnb > ul > li > a::after {
  bottom: 20px;
}
.header.on .header_wrap .gnb > ul > li .sub {
  top: 80px;
}
.header.on .header_wrap .gnb > ul > li:hover > a {
  color: #ffffff;
}

.main_visual {
  position: relative;
  background: url(../images/bg_main_visual.jpg);
}
.main_visual .inner {
  position: absolute;
  left: 50%;
  bottom: 100px;
  transform: translate(-50%, 0);
  width: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 1fr 160px 1.5fr;
  align-items: center;
  z-index: 998;
}
.main_visual .inner h2 {
  font-size: 64px;
  font-weight: 900;
  line-height: 80px;
  color: #ffffff;
  grid-row: 1/2;
  grid-column: 1/3;
}
.main_visual .inner .article_area {
  grid-row: 3/4;
  grid-column: 1/2;
}
.main_visual .inner .article_area .article_slide {
  width: 55%;
}
.main_visual .inner .article_area .article_slide .box h3 {
  color: #ffffff;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  padding: 0 0 20px 0;
  border-bottom: 1px solid #3685c2;
  margin: 0 0 20px 0;
}
.main_visual .inner .article_area .article_slide .box ul li {
  color: rgba(255, 255, 255, 0.8);
  line-height: 24px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.main_visual .inner .notice_area {
  grid-row: 3/4;
  grid-column: 2/3;
}
.main_visual .inner .notice_area .title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
  margin: 0 0 32px 0;
}
.main_visual .inner .notice_area .title strong {
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
}
.main_visual .inner .notice_area .title a i {
  padding: 4px 6px;
  background: #003876;
  border-radius: 50%;
  margin: 0 0 0 8px;
}
.main_visual .inner .notice_area .notice_itm {
  background: #ffffff;
  display: flex;
  text-align: center;
  align-items: center;
  padding: 10px;
}
.main_visual .inner .notice_area .notice_itm .notice_slide {
  flex: 0 0 60%;
  overflow: hidden;
}
.main_visual .inner .notice_area .notice_itm .notice_slide .itm {
  display: flex;
  align-items: center;
  gap: 24px;
}
.main_visual .inner .notice_area .notice_itm .notice_slide .itm p {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
  width: 80px;
  height: 80px;
  background: url(../images/bg_main_notice_date.png) no-repeat center center/contain;
  flex-shrink: 0;
  color: #ffffff;
  font-size: 14px;
}
.main_visual .inner .notice_area .notice_itm .notice_slide .itm p .day {
  font-size: 32px;
  font-weight: 900;
}
.main_visual .inner .notice_area .notice_itm .notice_slide .itm strong {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 18px;
  font-weight: 500;
}
.main_visual .inner .notice_area .notice_itm .control_box {
  flex: 0 0 40%;
  display: flex;
  justify-content: space-between;
}
.main_visual .inner .notice_area .notice_itm .control_box .arrows {
  max-width: 100px;
  width: 100%;
  background: tan;
}
.main_visual .inner .notice_area .notice_itm .control_box .arrows i {
  padding: 8px;
  cursor: pointer;
  background: #000;
}
.main_visual .main_slide {
  position: absolute;
  bottom: 0;
  right: 0;
  max-width: 1210px;
  width: 100%;
  height: calc(100% - 120px);
  overflow: hidden;
}
.main_visual .slide_dots {
  position: absolute;
  left: 50%;
  top: 51%;
  margin: 0 0 0 -710px;
  display: flex;
  gap: 8px;
  cursor: pointer;
  z-index: 998;
}
.main_visual .slide_dots li {
  width: 40px;
  height: 3px;
  background: #fff;
  font-size: 0;
}
.main_visual .slide_dots li.on {
  background: #ffc240;
}

.main_research {
  position: relative;
}
.main_research::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 40%;
  height: 90%;
  background: #f7f9fb;
  border-radius: 0 0 240px 0;
  z-index: -1;
}
.main_research .research_wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(0, -50%);
  margin: 0 0 0 -710px;
  display: grid;
  grid-template-columns: 1fr 3.5fr;
  width: 100%;
}
.main_research .research_wrap .title {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  padding: 24px 0;
}
.main_research .research_wrap .title h2 {
  font-size: 40px;
  line-height: 48px;
  margin: 0 0 16px 0;
}
.main_research .research_wrap .title h2 span {
  display: block;
  font-weight: 800;
  color: #003876;
}
.main_research .research_wrap .title p {
  line-height: 26px;
}
.main_research .research_wrap .title .arrows {
  margin: auto 0;
  display: flex;
  gap: 25px;
  align-items: center;
}
.main_research .research_wrap .title .arrows .left::after {
  content: "";
  display: inline-block;
  position: relative;
  left: 12px;
  width: 1px;
  height: 16px;
  background: #ddd;
}
.main_research .research_wrap .title .arrows span {
  cursor: pointer;
  font-size: 22px;
  font-weight: 700;
  color: #ddd;
}
.main_research .research_wrap .title .arrows span:hover {
  color: #003876;
  transition: 0.3s;
}
.main_research .research_wrap .title .btn a {
  display: inline-block;
  padding: 20px 32px;
  font-size: 14px;
  font-weight: 500;
  background: #003876;
  color: #ffffff;
}
.main_research .research_wrap .title .btn a i {
  padding-left: 16px;
}
.main_research .research_wrap .content {
  overflow: hidden;
}
.main_research .research_wrap .content .research_slide {
  margin: 0 -24px;
}
.main_research .research_wrap .content .research_slide figure {
  margin: 0 24px;
}
.main_research .research_wrap .content .research_slide figure .img_box {
  margin: 0 0 24px 0;
  border: 1px solid #e5e5e5;
}
.main_research .research_wrap .content .research_slide figure .txt_box h3 {
  font-size: 20px;
  font-weight: 600;
  padding: 0 0 16px 0;
  margin: 0 0 16px 0;
  border-bottom: 1px solid #e5e5e5;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.main_research .research_wrap .content .research_slide figure .txt_box .date {
  display: flex;
  justify-content: space-between;
}
.main_research .research_wrap .content .research_slide figure:hover .txt_box h3 {
  border-bottom: 1px solid #003876;
  transition: 0.5s;
}

.main_content .tit {
  display: flex;
  justify-content: space-between;
  padding: 0 0 32px 0;
  border-bottom: 3px solid #444444;
}
.main_content .tit h2 {
  font-size: 32px;
}
.main_content .tit h2 span {
  color: #003876;
  font-weight: 800;
}
.main_content .news_con .m_news a {
  padding: 24px;
  border-bottom: 1px solid #ddd;
  display: flex;
  align-items: center;
}
.main_content .news_con .m_news a h3 {
  font-size: 20px;
  font-weight: 500;
}
.main_content .news_con .m_news a figure {
  margin-left: auto;
  height: 118px;
  width: 214px;
  overflow: hidden;
}
.main_content .news_con .m_news a figure img {
  width: auto;
  height: auto;
  vertical-align: middle;
}
.main_content .news_con .m_news a:hover h3 {
  text-decoration: underline;
}
.main_content .news_con .news li a {
  padding: 32px 24px;
  border-bottom: 1px solid #ddd;
  display: flex;
  justify-content: space-between;
}
.main_content .news_con .news li a strong {
  font-size: 17px;
  font-weight: 500;
}
.main_content .news_con .news li a:hover {
  color: #3685c2;
  background: rgba(54, 133, 194, 0.1);
  transition: 0.4s;
}

.main_community {
  background: url(../images/bg_main_community.jpg) no-repeat center bottom/contain;
}
.main_community .inner {
  display: flex;
  justify-content: space-between;
  align-items: end;
  flex-wrap: wrap;
}
.main_community .inner .left {
  display: flex;
  flex-direction: column;
  width: 30%;
}
.main_community .inner .left h2 {
  color: #ffffff;
  font-size: 40px;
  line-height: 48px;
  margin: 0 0 24px 0;
}
.main_community .inner .left h2 span {
  font-weight: 800;
}
.main_community .inner .left p {
  font-size: 20px;
  color: rgba(255, 255, 255, 0.6);
  line-height: 24px;
}
.main_community .inner .left .control_box {
  margin: 40px 0;
}
.main_community .inner .right {
  display: flex;
  background: yellow;
}
.main_community .inner .right .co_name {
  z-index: 998;
  color: rgba(255, 255, 255, 0.6);
  margin: auto -100px auto 0;
  background: #003876;
}
.main_community .inner .right .com_slide {
  max-width: 580px;
  width: 100%;
}/*# sourceMappingURL=style.css.map */